# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*]
charset = utf-8
[*.cs]

# Ignore SA1407 rule
dotnet_diagnostic.SA1407.severity = none